*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f7f8fa;
  font-size: 14px;
}

a {
  color: #4f6ef7;
  text-decoration: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}